.vs/
.git/
*.aps
*.lib
*.obj
*.log
*.pdb
*.tlog
*.lastbuildstate
*.idb
*.pch
*.res
*.vs
*.ilk
*.exp
*.exe
*.iobj
*.ipdb

# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj
*.elf

# Linker output
*.ilk
#*.map
*.exp

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Debug files
*.dSYM/
*.su
*.idb
*.pdb

# Kernel Module Compile Results
*.mod*
*.cmd
.tmp_versions/
modules.order
Module.symvers
Mkfile.old
dkms.conf

# npm

node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log
package-lock.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln

# compile files
demo_npm/node_modules/
demo_npm/release/
demo_npm/package-lock.json
demo_js/node_modules/
demo_js/release/
demo_js/package-lock.json
